body{
  /* padding: 25px; */
  background-image: url('./sunset.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: rgba(0,0,0,0.5);
  text-align: center;
}

#logo {
  color: orange;
  font-size: 28px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-links a:hover {
  color: orange;
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  padding: 10px 0;
  min-width: 150px;
}

.dropdown-menu li {
  padding: 10px 20px;
}

.dropdown-menu a {
  color: white;
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
#search {
  display: flex;
  gap: 10px;
}

#search input {
  padding: 5px;
  background: transparent;
  font-size: 15px;
  margin: 20px;
  position: relative;
  left: -40px;

}

#search button {
  height: 30px;
  background-color: orange;
  position: relative;
  left: -70px;
  margin-top: 20px;

  
}



.content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background: rgba(0,0,0,0.5); */
}
.txt-section h1{
  color: white;
  font-size: 40px;
  
}
.txt-section #dev{
  color: rgb(0, 0, 0);
  margin: -10px;
}
.txt-section p{
  color: white;
}
.txt-section #join-us{
  background-color: orange;
  width: 100px;
  height: 40px;
}

.login{
  width: 250px;
  background: rgba(0,0,0,0.5);
  padding: 30px;
  text-align: center;
  color:black;
}
.login-form h3{
  width: 100%;
  height: 30px;
  background: white;
  color: orange;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  
} 
.login-form input{
  width: 100%;
  background: transparent;
  font-size: 15px;
  outline: none;
  margin-bottom: 15px;
}
.login-form input::placeholder{
  color: white;
}
.login-form button{
  background-color: orange;
  font-size: 15px;
  width: 100px;
  height: 30px;
}
.login-form p{
  color: white;
}
.login-form a{
  color: orange;
}

