body{
    background-color: bisque;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  text-align: center;
  background: rgba(0,0,0,0.5);
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-links a:hover {
  color: orange;
}