#parent{
  width: 100vh;
  height: 100vh;
  background-color: aquamarine;
  border: 2px solid balck;
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(7,1fr);
  grid-template-columns: repear(4,1fr);
  
}
.cont{
  margin: 2px;
  background-color: red;
  text-align: center;
}
.c1{
  grid-row-start: 1;
  grid-row-end: 3;
}
.c2{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1;
}
.c3{
  grid-row:1;
}
.c4{
  grid-row:2;
}
.c5{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 2;
}
.c6{
  grid-row:3;
  grid-column: 1;
}
.c7{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 3;
}
.c8{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 4;
}
.c9{
  grid-row:4;
}
.c10{
  grid-row-start: 3;
  grid-row-end: 5;
}
.c11{
  grid-row-start: 5;
  grid-row-end:7 ;
}
.c12{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 5;
}
.c13{
  grid-row:5;
}
.c14{
  grid-row: 6;
}
.c15{
    grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 6;
}
.c16{
  grid-row:7;
}
.c17{
  grid-column-start: 2;
  grid-column-end: 4;
}
.c18{
  grid-row: 7;
  grid-column: 4;
}