body{
    width: 100vw;
    height: 100vh;
    padding: 50px;
    background-color: rgb(163, 4, 255);
    text-align: center;
}
#main_body{
    width: 70vw;
    height: 70vh;
    background-color: rgba(0,0,0,0.5);
    /* margin: auto; */
    text-align: center;
    /* padding: 100px; */
}
#title{
    color: black;
    background-color: orange;
}
#content{
    width: 70vw;
    height: 60vh;
    background: rgba(221, 10, 218, 0.5);
}
#addtxt {
    width: 70%;
    padding: 8px;
    font-size: 16px;
}


#add {
    padding: 8px 12px;
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
    color: white;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    accent-color: blue;
}


/* Checked task style */
input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: red;
}


/* Hover effect */
label:hover {
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    padding-left: 5px;
}