body{
    background-color: blueviolet;
    padding: 9000;
    text-align: center;
}
#calcbody{
    width: 75%;
    height: 200%;
    border: 2px solid black;
    background: rgba(0, 0,0,0.5);
    padding: 50px;
    text-align: center;
}

h1{
    color: aliceblue;
}

input{
    width: 50vw;
    height: 30px;
    background-color: rgba(0, 0,0,0.5);
    border: none;
    font-style: italic;
    color: aliceblue;
}

button{
    width: 50px;
    height: 60px;
    background-color: orange;
}
#output{
    /* width: 150px; */
    border: 2px solid black;
    background-color: rgba(255, 0, 0, 0.5);
}
