body{
  /* padding: 25px; */
  background-image: url('./sunset.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  /* background-color: black; */
  background: rgba(0,0,0,0.5);
}

#logo {
  color: orange;
  font-size: 28px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-links a:hover {
  color: orange;
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  padding: 10px 0;
  min-width: 150px;
}

.dropdown-menu li {
  padding: 10px 20px;
}

.dropdown-menu a {
  color: white;
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
#search {
  display: flex;
  gap: 10px;
}

#search input {
  padding: 5px;
  background: transparent;
  font-size: 15px;
  margin: 20px;
  position: relative;
  left: -40px;

}

#search button {
  height: 30px;
  background-color: orange;
  position: relative;
  left: -70px;
  margin-top: 20px;

  
}
h1{
  color: azure;
  /* font-size: larger; */
}
p{
  color: white;
}

.sign{
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        padding: 30px;
        text-align: center;
        color:black;
      }
      .signup-form h3{
  width: 100%;
  height: 30px;
  background: white;
  color: orange;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  
} 
.signup-form input{
  width: 100%;
  background: transparent;
  font-size: 15px;
  outline: none;
  margin-bottom: 15px;
}
.signup-form input::placeholder{
  color: white;
}
.signup-form button{
  background-color: orange;
  font-size: 15px;
  width: 150px;
  height: 30px;
}